/*
 * -------------------------------------------------
 *  Nextflow config file for module specific-options
 * -------------------------------------------------
 */

params {
    modules {
        'seqkit' {
            args             = "--by-size 1000000 -O ." //--by-part  --by-length --by-size
            suffix           = ""
            publish_dir      = ""
            publish_results  = ""
        }
        'bwamem2' {
            args             = ""
            suffix           = ""
            publish_dir      = ""
            publish_results  = ""
        }
        'get_software_versions' {
            args             = ""
            suffix           = ""
            publish_dir      = "pipeline_info"
            publish_results  = "all"
        }
        'output_documentation' {
            args             = ""
            suffix           = ""
            publish_dir      = "pipeline_info"
            publish_results  = "all"
        }
    }
}
